@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.org-image {
  background: rgb(185, 184, 184);
  height: 200;
}

.signUpButton {
  background-color: #4659a7;
  border-width: 1px;
  border-radius: 8px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.orgTag {
  display: inline;
  width: 50px;
  height: 18px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  position: relative;
  background: #75acff;
  border-radius: 10px;
}

.tagContainer {
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}

.bannerImage {
  height: 500px;
  width: 100vw;
  background-size: 100vw;
  background-clip: border-box;
  position: absolute;
  display: flex;
  font-family: 'Jost', sans-serif;
  background-blend-mode: darken;
  left: -0px; /* this must be TWICE the required offset distance*/
  background-position-x: left;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url('../public/banner.png');
}

img{
  max-width: 100%;
}

.nebBack{
  width: 1280px;
  height: 609px;
  background-image: url("../public/new-banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

.whiteSquare{
position: fixed;
width: 673px;
height: 598px;
left: 50%;
top: 50%;
margin-top: -295px;
margin-left: -350px;

background: #FFFFFF;
}

.onboardingTitle{
  position: absolute;
  width: 625px;
  height: 93px;
  left: 25px;
  top: -2px;
  

  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  text-align: center;

  color: #333333;
}

.smallInfo{
  position: absolute;
  width: 625px;
  height: 100px;
  left: 30px;
  top: 55px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  color: #333333;
}

.first-name{
  position: absolute;
  left: 120px;
  top: 235px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 28px;
  color: #333333;
}

.last-name{
  position: absolute;
  left: 350px;
  top: 235px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 28px;
  color: #333333;
}

.email-address{
  position: absolute;
  left: 120px;
  top: 305px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 28px;
  color: #333333;
}

.pass-word{
  position: absolute;
  left: 120px;
  top: 375px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 28px;
  color: #333333;
}

.onboardname-input{
  border-width: 3px;
  border-color: #333333;
  border-radius: 5px;
  width: 210px;
  font-weight: 550;
}

.onboardother-input{
  border-width: 3px;
  border-color: #333333;
  border-radius: 5px;
  width: 440px;
  font-weight: 550;
}

.continueButton{
  position: absolute;
  left: 195px;
  top: 470px;

  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  color: #FAFAFA;
  border-radius: 5px;
  width: 287px;
  height: 37px;
  background-color: #387D78;
}

.signGoogleButton{
  position: absolute;
  left: 195px;
  top: 520px;

  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  color: #FAFAFA;
  border-radius: 5px;
  width: 287px;
  height: 37px;
  background-color: #4659A7;
}

.onboardingSub{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 5px;

  color: #333333;
}

.perInfoRadio{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #333333;

  line-height: 35px;
}

.buttonStyle{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
  accent-color: black;
}

.perInfoDropList{
  border-width: 3px;
  border-color: #333333;
  border-radius: 5px;
  width: 250px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;
  padding: 10px;
  color: #828282;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url('../public/newbigdroparrow.png');
  background-repeat: no-repeat, repeat;
  background-position: right 1rem center;
  background-size: 30px;

}

.continuePersonalButton{
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  font-size: 10px;
  color: #FAFAFA;
  letter-spacing: 0.75px;
  border-radius: 5px;
  width: 220px;
  height: 25px;
  background-color: #387D78;
}

.setLaterButton{
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  font-size: 10px;
  color: #FAFAFA;
  letter-spacing: 0.75px;
  border-radius: 5px;
  width: 95px;
  height: 25px;
  background-color: #387D78;
}

.perInterestsButton{
  position: relative;
  left: 135px;
  top: 155px;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  font-size: 15px;
  color: #FAFAFA;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  background-color: #4659A7;
  margin-right:10px;
  margin-top: 10px;
  letter-spacing: 0.75px;
}

.perInterestsButtonSelected{
  position: relative;
  left: 135px;
  top: 155px;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  font-size: 15px;
  color: #4659A7;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  background-color: #FFFFFF;
  border-width: 3px;
  border-color: #4659A7;
  margin-right:10px;
  margin-top: 10px;
  letter-spacing: 0.75px;
}

.carInterestsButton{
  position: relative;
  left: 135px;
  top: 155px;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  font-size: 15px;
  color: #FAFAFA;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  background-color: #4659A7;
  margin-right:10px;
  margin-top: 10px;
  letter-spacing: 0.75px;
}

.carInterestsButtonSelected{
  position: relative;
  left: 135px;
  top: 155px;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  font-size: 15px;
  color: #4659A7;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  background-color: #FFFFFF;
  border-width: 3px;
  border-color: #4659A7;
  margin-right:10px;
  margin-top: 10px;
  letter-spacing: 0.75px;
}

.dialogBoxArrowLeft{
  width: 410px;
  height: 70px;
  background-color: #EAEAEA;
  border-radius: 5px;
  position: relative;
  left: 135px;
  top: 167px;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #313333;
  text-align: center;

  margin-bottom: 10px;
}

.dialogBoxArrowLeft:after{
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 7px solid transparent;
  border-bottom:10px solid #EAEAEA;
  border-right:7px solid transparent;
  position: absolute;
  left: 20px;
  top: -20px;
  margin-left: -10px;
}

.dialogBoxArrowRight{
  width: 410px;
  height: 70px;
  background-color: #EAEAEA;
  border-radius: 5px;
  position: relative;
  left: 135px;
  top: 167px;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #313333;
  text-align: center;

  margin-bottom: 10px;
}

.dialogBoxArrowRight:after{
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 10px solid #EAEAEA;
  border-right: 7px solid transparent;
  position: absolute;
  left: 395px;
  top: -20px;
  margin-left: -10px;
}

.collapseButton{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 7px;

  position: absolute;
  left: 360px;
  top: 45px;

  color: #4659A7;
}

.clubRecBox{
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  font-size: 15px;
  color: #4659A7;

  border-radius: 5px;
  background-color: #FFFFFF;
  border-width: 3px;
  border-color: #4659A7;
  letter-spacing: 0.75px;

}

.graySq{
  position: absolute;

  background-color:#CACACA;
  border-radius: 5px;
}

.dot{
  color: black;
  font-size: 35px;
  font-weight: 1;
  text-align: center;
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #FBBB78;
  border-radius: 50%;
}

.eventDetails{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;

  color: #333333;
}

.profileCircle{
  color: black;
  font-size: 35px;
  font-weight: 1;
  text-align: center;
  position: absolute;
  top: 125px;
  left: 210px;
  height: 250px;
  width: 250px;
  background-color: #C4C4C4;;
  border-radius: 50%;
}

.accountConfButton{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #FAFAFA;
  letter-spacing: 0.75px;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  background-color: #387D78;
}

.testStyle{
  font-weight: 400;
  position: absolute;
  left: 200px;
  top: 300px;
}